*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
background-image: url('OIP.jpeg');
width: 100vw;
height: 100vh;
background-size: cover;
display:flex;
justify-content: center;
align-items: center;

}
.loginpage{
    width: 50%;
    height: 70%;
    background-color: rgba(60, 119, 119, 0.321);
    border-radius:30px ;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items:center;
     flex-direction: column;
     gap:40px;
}
.details{
    display: flex;
    gap:30px;
    flex-direction: column;
    width: 50%;
    
}
.pass{
    width:50%;
    display: flex;
    justify-content:space-between;
}
h1{
    font-size: 60px;
    text-decoration: double;
    
}
input[type="text"],input[type="password"]{
    font-size: 18px;
    border:black;
    padding:20px;
    border-radius: 10px;
    
    
}
button{
    
    border:black;
    padding:15px 30px;
    border-radius: 10px;
    font-size: 30px;
    background: linear-gradient(rgb(140, 207, 207),rgb(64, 108, 123));
}
   